@{
    ViewData["Title"] = "Log In";
}

<p> log In </p>
<p> @ViewData["Message"]</p>
<label for="email">Email:</label>
<input type="text" id="email" name="email"><br><br>
<label for="passw">Password:</label>
<input type="password" id="passw" name="passw"><br><br>

